* {
  box-sizing: border-box;
}


ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

li.nav-link{
  margin-right: 1em;
  
}

.nav-link-container {
  display: flex;
}

.nav-bar {
  background-color: lightgray;
  padding: 1em;
  position: relative;
  width: 100%;
}

.logo-thrifty,
.logo-native {
  margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}

.home-h1 {
  background-color: lightseagreen;
  margin: 0;
}

.products-h1 {
  background-color: lightslategray;
  margin: 0;
}

.about-h1 {
  background-color: lightcoral;
  margin: 0;
}

.about-container {
  background-color: lightblue;
}